@import "../../scss/index.scss";

.list-tweets {
    .tweet {
        display: flex;
        padding: 10px 15px;
        border-bottom: 1px solid $border-grey;

        .avatar {
            width: 50px;
            height: 50px;
            min-width: 50px; // IMPORTANTE: evita que se aplaste por el flex-shrink
            min-height: 50px;
            margin-right: 15px;
            
            // El truco mágico:
            object-fit: cover; 
            
            // Por si la imagen es muy grande, asegura que no se salga del círculo
            overflow: hidden;
        }
        .tweet-content {
            display: flex;
            flex-direction: column;
            width: 100%;

            .name {
                font-weight: bold;
                .fecha {
                    margin-left: 10px;
                    font-weight: normal;
                    color: $font-grey;
                    font-size: 12px;
                }
            }

            .mensaje {
                margin-top: 5px;
                font-size: 15px;
            }

            
             .image-tweet {
                margin-top: 12px;
                width: 100%;
                max-width: 500px; 
                
                
                aspect-ratio: 16 / 9; 
                height: auto; 
                
                display: block;
                object-fit: initial;
                
                border-radius: 15px;
                border: 1px solid $border-grey; 

                @media (max-width: 480px) {
                    max-width: 100%; 
                    
                }
            } 

            
            .tweet-actions {
                display: flex;
                justify-content: flex-end; 
                width: 100%;

                .btn-delete.btn.btn-link { 
                    color: #e0245e !important; 
                    text-decoration: none !important; 
                    font-size: 13px;
                    font-weight: bold;
                    padding: 0;
                    margin-top: 5px;

                    &:hover {
                        color: darken(#e0245e, 10%) !important;
                        text-decoration: none !important; 
                        background-color: transparent;
                    }
                }
            }
        }
    }
}